<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>URL nicer</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-header">
					<h2>URL nicer</h2>
				</div>
				<form role="form" method="post" action="{{ url_for('MakeNice') }}">
					<div class="form-group">
						<label for="inputUrl">Your URL:</label>
						<input type="url" class="form-control" name="inputUrl" placeholder="http://" value={{ck.inputUrl}}>
					</div>
					<div class="form-group">
						<label for="NicetUrl">Nice URL:</label>
						<input type="text" class="form-control" name="niceUrl" placeholder="nice_url" value={{ck.niceUrl}}>
					</div>
					<button type="submit" class="btn btn-default">Make nice!</button>
				</form>
				<br>
				{% if ck.status == 1 %}
				<div class="alert alert-success" role="alert">Your nice URL: <a href={{ck.niceFull}}>{{ck.niceFull}}</a></div>
				{% elif ck.status == 2 %}
				<div class="alert alert-danger" role="alert">URL "{{ck.niceFull}}" is busy</a></div>
				{% elif ck.status == 3 %}
				<div class="alert alert-danger" role="alert">URL can not contain spaces</a></div>
				{% endif %}
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
				<div class="container-fluid">
					<div class="col-md-3 col-md-offset-3">(с) Dmitry Mylnikov, 2014</div>
					<div class="col-md-3"><a href="https://github.com/dmylnikov/flask">Code on GitHub</a></div>
				</div>
		</div>
	</body>
</html>